<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091028992686-vo4vss296g8ft14p1uae00fpfpqn7dnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091028992686-vo4vss296g8ft14p1uae00fpfpqn7dnp</string>
	<key>API_KEY</key>
	<string>AIzaSyBsfLe2oMfHU8QWfnqIVnVWk4GYO56JKkU</string>
	<key>GCM_SENDER_ID</key>
	<string>1091028992686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.instazad</string>
	<key>PROJECT_ID</key>
	<string>instazad-da326</string>
	<key>STORAGE_BUCKET</key>
	<string>instazad-da326.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091028992686:ios:0ca2155870425bec58e33f</string>
	<key>DATABASE_URL</key>
	<string>https://instazad-da326.firebaseio.com</string>
</dict>
</plist>